*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}

body{
    text-align: center;
    margin: 0;
    color: white;
    min-height: 200vh;
}

.box{
    border: 6px;
    transition: 0.25s ease;
    background: black;
    padding: 10px;
}
p{
    visibility: hidden;
    width: 240px;
    margin: 10px auto 0;
    opacity: 0;
    transition: 0.6s;
    transform: translateX(-200px);

}

.question-Click{
    background: rgb(158, 158, 158);
    border-radius: 30px;
    border: 6px dashed rgb(255, 255, 255);
}

.show-response{
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
}

.mousemove{
    height: 50px;
    width: 50px;
    border: 2px solid rgb(255, 0, 0);
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    z-index: -1;
}

.keypress{
    margin-top: 10px;
}
nav{
    background: pink;
    position: fixed;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    top: -60px;
    transition: 0.5s;
}
nav::after{
    content: "";
    height: 150px;
    width: 150px;
    background:radial-gradient(circle closest-side,rgba(255, 255, 255, 0.74), transparent);
    position: absolute;
    transform: translate(-50%,-50%);
    transition: 0.25s;
    opacity: 0;
    z-index: 20;

}
nav:hover::after{
    opacity: 1;

}

ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}