* {
    margin: 0;
    padding: 0;
    outline: none;
}
body {
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial, sans-serif;  
}
  
.container {
    position: relative;
}

form{
    background: rgba(255, 255,255, .3);
    padding: 3rem;
    height: 320px;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgbd(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter:blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0reen, b0ue, .2) ;
    text-align: center;

}
p {
    color: white;
    font-weight: .7;
    opacity: 7;
    font-size: 1.4rem;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}
a{
    color: #ddd;
    text-decoration: 12px;
    font-size: 12px;
    transition: all .3s;

}

a:hover {
    text-shadow: 2px 2px 6px rgb(0, 0, 0);
}

input{
    background: transparent ;
    border: none;
    border-left:  1px solid rgba(255, 255, 255, .3);
    border-top:  1px solid rgba(255, 255, 255, .3);
    padding: 1rem;
    width: 200px;
    border-radius: 10px;  
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter:blur(5px);
    box-shadow: 4px 4px 60px rgba(255, 255, 255, .2);
    color: white;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    margin-bottom: 20px;
}
::placeholder{
    color: white;

}

input:hover,
input[type="email"]:focus,
input[type="password"]:focus {
    background: rgba(255, 255, 255, .1);
    margin-top: 10px ;
    font-size: 1rem;
    width: 150px;
}
